@keyframes wobble {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(-5deg); }
    30% { transform: rotate(3deg); }
    45% { transform: rotate(-3deg); }
    60% { transform: rotate(2deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: #081b29;
    display: flex;
}
.hero {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}




.logo {
    width: 160px;
    margin-bottom: 20px; /* Optional: Add space between logo and navbox */
}

.Login-btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: rgb(2, 22, 75);
    background-image: linear-gradient(45deg, rgb(54, 127, 196),rgb(91, 214, 194),rgb(230, 119, 112));
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative; /* Ensure positioning context for pseudo-element */
    z-index: 1; /* Ensure the button stays above other elements */
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5); /* Neon glow effect */
}

.Login-btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: inherit;
}

.Login-btn:hover {
    animation: wobble 1s ease-in-out infinite;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.8); /* Increase glow on hover */
}


/* Center align the entire content */

/* Form styling */
.form {
    margin: auto;
    justify-content: center;
    background: transparent;
    border: 2px solid #0ef;
    box-shadow: 0 0 25px #0ef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Shadow for form */
    width: 50%;
    height: auto;
}

.label {
    display: block;
    color: #0ef; /* Adjust label color */
    padding: 1px;
}

.input[type="text"],
.input[type="password"],
.input[type="file"] {
    background-color: burlywood;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button[type="submit"] {
    color: antiquewhite;
    background-color: transparent;
    border: 2px solid #0ef;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button[type="submit"]:hover {
    background-color: #0ef; /* Adjust hover background color */
    color: black;
}

.form h3{
    display: flex;
    margin: auto;
    justify-content: center;
    color: blanchedalmond;
}