
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: #081b29;
}
.hero {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}




.logo {
    width: 160px;
    margin-bottom: 20px; /* Optional: Add space between logo and navbox */
}



.login-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.login-popup label {
    display: block;
    margin-bottom: 2vh;
}

.login-popup input[type="text"],
.login-popup input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-popup button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.login-popup button:hover {
    background-color: #45a049;
}

/* Close button styles */
.login-popup .close {
    position: absolute;
    top: 1vh;
    right: 1vw;
    font-size: 2vh;
    cursor: pointer;
    color: #aaa;
}

.login-popup .close:hover {
    color: black;
}