
nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    color: rgb(204, 131, 131);
}


nav ul li a {
    text-decoration: none;
    color: rgb(180, 232, 253);
    font-weight: 400;
    font-size: medium;
}

.navbox {
    width: 40%;
    display: flex;
    justify-content: center; /* Center items horizontally */
    background: transparent;
    border: 2px solid #0ef;
    box-shadow: 0 0 25px #0ef;
    border-radius: 50px;
    margin-right: 2%;
}

.navbox ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; /* Wrap items onto new lines if needed */
    justify-content: center; /* Center items horizontally */
    padding: 0;
}

.navbox ul li {
    margin: 5px; /* Adjust spacing between items */
}


.navbox ul li a {
    text-decoration: none;
    color: rgb(42, 213, 243);
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transform transition */
    display: block; /* Ensure links are displayed as blocks */
}

.navbox ul li a:hover {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.9);
    color: beige;
}